<div class="banner">
  <div class="container-index">
    <h1>All Spots</h1>
    <br>
    <%= link_to "Create a new spot", new_spot_path, class: "btn btn-gradient"%>
    <br>
  </div>
</div>

<div class="container mt-4" id="spots">
  <% @spots.each do |spot| %>
    <div class="card-spot mt-4">
      <% if spot.photo.key.nil? %>
      <img src="../../../assets/images/flea-marker-2.jpeg" alt="">
      <% else %>
      <%= cl_image_tag spot.photo.key, crop: :fill %>
      <% end %>
      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
      <div class="card-spot-infos">
        <div>
          <h2><%= link_to spot.title, spot_path(spot) %></h2>
          <p><%= spot.description %></p>
        </div>
        <h2 class="card-spot-pricing"><%=spot.price%>€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-spot-user avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
