
<h1>Your spots</h1>

<% @my_spots.each do |spot| %>
<h2><%= link_to spot.title, spot_path(spot) %></h2>
  <% spot.bookings.each do |booking| %>
    <p>Status: <%= booking.status%> || User: <%=booking.user.name%></p>
    <div class="homepage-buttons mt-2">
      <%= link_to 'decline booking', decline_path(booking), class: "btn btn-gradient"%>
      <%= link_to "confirm booking", confirm_path(booking), class: "btn btn-gradient"%>
    </div>
  <% end %>
  <%= link_to "edit", edit_spot_path(spot) %>
  <%= link_to "delete", edit_spot_path(spot) %>
<% end %>


