
<div class="container mt-4">
  <h1>Your spots</h1>
  <% @my_spots.each do |spot| %>
    <div class="card-myspots mt-4">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-myspots-infos">
        <h2><%= link_to spot.title, spot_path(spot) %></h2>
        <ul><% spot.bookings.each do |booking| %>
          <li>Status: <%= booking.status%> || User: <%=booking.user.name%></li>
          <% end %>
        </ul>
        <%= link_to "edit", edit_spot_path(spot) %>
        <%= link_to "delete", edit_spot_path(spot) %>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>

 <div class="homepage-buttons mt-2">
    <%= link_to 'decline booking', decline_path(@booking), class: "btn btn-gradient"%>
    <%= link_to "confirm booking", confirm_path(@booking), class: "btn btn-gradient"%>
  </div>
