<ul>
  <li>
    <%= @spot.title %><%= link_to spot_path(spot), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash destroy_dose"></i>
    <% end %>
    <%= @spot.description %>
    <%= @spot.price %>

  </li>
</ul>

<%= render 'form' %>
