
<div class="container">

  <div class="container-spots-show-details">
    <h1><%= @spot.title %></h1>
      <br>
      <p><strong>Description:</strong> <%= @spot.description %></p>
      <p><strong>Price:</strong> <%= @spot.price %></p>
      <p><strong>Address:</strong> <%= @spot.address %></p>
      <p><strong>Owner of the spot:</strong> <%= @spot.user.name %></p>

    <%= link_to spot_path(@spot), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash destroy_spot"></i>
    <% end %>
  </div>


  <div class="container-spots-show">

    <div class="container-spots-show-image">
      <% if @spot.photo.attached? %>
        <%= cl_image_tag @spot.photo.key,  crop: :fill  %>
      <% else %>
        <%= image_tag 'flea-market-2.jpeg',  crop: :fill %>
      <% end %>
    </div>

    <div class="container-spots-show-form">
      <h1>Book this spot</h1>
        <%= render 'bookings/new', spot: @spot, booking: @booking %>
    </div>

  </div>
<br>
<br>
</div>
