<h1><%= booking.title %></h1>
<ul>
<li>Date: <%= booking.date %></li>
<li>Description: <%= booking.description %></li>
<li>Price: <%= booking.price %></li>
<% end %>
</ul>
<%= link_to "Show all Spots" spots_path%>
