<div class="container">
  <div class="header">
    <h1>Edit your Profile</h1>
  </div>
  <div class="profile-image">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key %>
    <% else %>
     <%= image_tag image_path("flea-market-2.jpeg")%>
    <% end %>
  </div>
  <div class="profile-information">
    <br>
    <br>
    <%= simple_form_for(@user) do |f| %>
      <div class="form-inputs profile-details">
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :photo, as: :file %>
      </div>
      <div class="form-actions profile-button">
        <%= f.button :submit, class: "btn btn-pink" %>
      </div>
    <% end %>
  </div>
</div>

