<div id="spots">
  <div class="spot-1">
  <% spot = @spots[3] %>
    <div class="card-spot mt-4">
      <% if spot.photo.attached? %>
        <%= cl_image_tag spot.photo.key, crop: :fill %>
      <% else %>
        <%= image_tag image_path("flea-market-2.jpeg")%>
      <% end %>
      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
      <div class="card-spot-infos">
        <div>
          <h2><%= link_to spot.title, spot_path(spot) %></h2>
          <p><%= spot.description %></p>
        </div>
        <h2 class="card-spot-pricing"><%=spot.price%>€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-spot-user avatar-bordered" />
      </div>
    </div>
  </div>
  <div class="spot-2">
  <% spot = @spots[5] %>
    <div class="card-spot mt-4">
      <% if spot.photo.attached? %>
        <%= cl_image_tag spot.photo.key, crop: :fill %>
      <% else %>
        <%= image_tag image_path("flea-market-2.jpeg")%>
      <% end %>
      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
      <div class="card-spot-infos">
        <div>
          <h2><%= link_to spot.title, spot_path(spot) %></h2>
          <p><%= spot.description %></p>
        </div>
        <h2 class="card-spot-pricing"><%=spot.price%>€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-spot-user avatar-bordered" />
      </div>
    </div>
  </div>
  <div class="spot-3">
  <% spot = @spots[10] %>
    <div class="card-spot mt-4">
      <% if spot.photo.attached? %>
        <%= cl_image_tag spot.photo.key, crop: :fill %>
      <% else %>
        <%= image_tag image_url("flea-market-2.jpeg")%>
      <% end %>
      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
      <div class="card-spot-infos">
        <div>
          <h2><%= link_to spot.title, spot_path(spot) %></h2>
          <p><%= spot.description %></p>
        </div>
        <h2 class="card-spot-pricing"><%=spot.price%>€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-spot-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>
